{% extends "base.html" %}
{% block content %}
<style>    
    .reportBtns {
        text-align: center;
        padding: 15px;
    }
</style>
<form>
    <h2 class="text-center">Estimate the amount of food in the pantry:</h2>
    <br>
    <div class="container report-button">
        <input type="submit" name="status" value="Full" class="btn btn-success btn-block report-button">
        <input type="submit" name="status" value="Half Full" class="btn btn-warning btn-block report-button">
        <input type="submit" name="status" value="Empty" class="btn btn-danger btn-block report-button">
        <input type="submit" name="status" value="Damaged" class="btn btn-secondary btn-block report-button">
    </div>
</form>
{% endblock %}

